{% extends 'base.html' %}
{% block title %}{{ photo.title }}{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'home/detailstyle.css' %}">
  <h1 class='title' align="center">{{ photo.title }}</h1>
  <img src="{{ photo.original_pic.url }}" alt="Image not Found">
  <div class="buttonPanel">
    <a href="#" class="but" align="center">Back</a>
    <a href="#" class="but" align="center">Add to Collection</a>
    <a href="#" class="but" align="center">Buy Copyrights</a>
  </div>
  <h2 align="center">Photographer : {{ photo.photographer }}</h2>
  <div class="desc"><p>{{ photo.description }}</p>
  </div>

{% endblock %}