{% extends 'base.html' %}
{% block title %}Home{% endblock %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/stylehome.css' %}">
    {% if user.is_authenticated %}
      Hi {{ user.username }}!<br>

      <h1 class='category'>{{ cat_name_city }}</h1>
      <div class="row">
        {% for photo in city_pic %}
          <a href=" /{{ photo.id }} "><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore" alt="See More">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_nature }}</h1>
      <div class="row">
        {% for photo in nature_pic %}
          <a href="/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_animal }}</h1>
      <div class="row">
        {% for photo in animal_pic %}
          <a href="/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_brand }}</h1>
      <div class="row">
        {% for photo in brand_pic %}
          <a href="/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_mountain }}</h1>
      <div class="row">
        {% for photo in mountain_pic %}
          <a href="/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_devotion }}</h1>
      <div class="row">
        {% for photo in devotion_pic %}
          <a href="/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>


      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
