{% extends 'base.html' %}
{% block title %}Home{% endblock %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/stylehome.css' %}" onload="typeWriter()">
    {% if user.is_authenticated %}
      <!-- Creating Banner -->

      <div class="banner">

      {% for photo in trending_pics %}
        <div class="mySlides fade">
        <div class="numbertext">{{ forloop.counter }} / 5</div>
        <a href="details/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not found" style="width:100%"></a>
        <div class="text">{{ photo.title }}</div>
      </div>
      {% endfor %}


      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      </div>
      <br>

      <div style="text-align:center">
        {% for i in trending_pics %}
          <span class="dot" onclick="currentSlide({{ i.id }})"></span>
        {% endfor %}
      </div>


      <!-- Creating Greet Text -->
      <p id="TextEffect" align="center"> </p>

      <!-- Creating Category Row -->
      <h1 class='category'>{{ cat_name_city }}</h1>
      <div class="row">
        {% for photo in city_pic %}
          <a href=" /details/{{ photo.id }} "><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore" alt="See More">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_nature }}</h1>
      <div class="row">
        {% for photo in nature_pic %}
          <a href="/details/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_animal }}</h1>
      <div class="row">
        {% for photo in animal_pic %}
          <a href="/details/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_brand }}</h1>
      <div class="row">
        {% for photo in brand_pic %}
          <a href="/details/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_mountain }}</h1>
      <div class="row">
        {% for photo in mountain_pic %}
          <a href="/details/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>

      <h1 class='category'>{{ cat_name_devotion }}</h1>
      <div class="row">
        {% for photo in devotion_pic %}
          <a href="/details/{{ photo.id }}"><img src="{{ photo.original_pic.url }}" alt="Image not Found" class="frame"></a>
        {% endfor %}
        <a href="#"><div class="viewMore">&#x21e8;</div></a>
      </div>


      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>

{% endif %}
<!-- LinkingExternal Javascript -->
  <script type="text/javascript">
    var i = 0;
    var txt = 'Hello {{ user.username }}, Welcome to Picmesh';
    var speed = 150;

    function typeWriter() {
      if (i < txt.length) {
        document.getElementById("TextEffect").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
    }
  </script>
<script src="{% static 'home/homescript.js' %}"></script>
{% endblock %}
