<!DOCTYPE html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'PicMesh/style.css' %}" />
    <meta charset="UTF-8">
    <title>{% block title%}Title{% endblock %}</title>
</head>
<body>
        <main>
            <header>

                <button type="button" name="menuButton" id="menuButton" onclick="hideShow()"><img src="#" alt="Menu " id="menuIcon"></button>

                <ul class="mainMenu" id="menu">
                  <li class="menuItem" id="home"><a href="">Home</a></li>
                  <li class="menuItem" id="cat" onclick="document.getElementById('categories').style.display='block'"><a href="#">Categories</a></li>
                  <li class="menuItem" id="self"><a href="/collection/">My Collection</a></li>
                  <li class="menuItem" id="ContactMe"><a href="#">Contact Me</a></li>
                </ul>
                <div class="modal animate" id="categories" onclick="document.getElementById('categories').style.display='none'">
                    <div class=insideCategories>
                    <span onclick="document.getElementById('categories').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <div class="container">
                      <!--<a href="" class="box a">{{ categories }}</a>-->
                      {% for cate in categories %}
                      <a href="/categories/{{cate.id}}" class="box">{{cate}}</a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
            </header>
        </main>
        {% block content%}

        {% endblock %}

</body>
</html>